<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 
	<properties>
		<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="study"/>
		<property name="password" value="study"/>
	</properties>
 -->
	
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases> 
		<typeAlias type="model.vo.StudentVO" alias="Student"/>
		<typeAlias type="model.vo.DepartmentVO" alias="Department"/>
	</typeAliases> <!-- 지정해줘야 Mapper를 편하게 쓸 수 있음 중요 -->
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/> 
				<property name="driver" value="jdbc:oracle:thin:@localhost:1521:xe"/> 
				<property name="username" value="study"/>
				<property name="password" value="study"/> 
			</dataSource>
			
			<!-- properties작성 안하고 dataSource에 위처럼 작성해도 가능
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>			
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/> -->
			
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mappers/student-mapper.xml"/>
	</mappers>
</configuration>