<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studentMapper">

	<resultMap type="Department" id="departmentMap">
    	<id property="departmentNo" column="department_no"/>
    	<result property="departmentName" column="department_name"/>
    	<result property="category" column="category"/>
	</resultMap>
	
	<resultMap type="Student" id="studentMap">
    	<id property="studentNO" column="student_no"/>
    	<result property="studentName" column="student_name"/>    	
    	<result property="studentAddress" column="student_address"/>    
    	<association property="department" resultMap="departmentMap" />
	</resultMap>
	
	<!-- map이 들어가지 않으면 resultType을 사용해야 함 -->
	<select id="showStudent" resultMap="studentMap" parameterType="String">
		<!-- #{word} : 조건 - word가 null인지 아닌지 
			WHERE student_no, student_name, student_address, department_name, category랑 word가 포함되어 있는 지
			이 중 하나만 걸려도 되니까 OR
		-->
		SELECT student_no, student_name, student_address, department_no, department_name, category
		FROM tb_student
		JOIN tb_department USING(department_no)
		<where>
			<if test="word!=null">
				
				student_no LIKE '%' || #{word} || '%'
				OR student_name LIKE '%' || #{word} || '%'
				OR student_address LIKE '%' || #{word} || '%'
				OR department_name LIKE '%' || #{word} || '%'
				OR category LIKE '%' || #{word} || '%'
				
			</if>
		</where>
		
	</select>

</mapper>